.footer {
  margin: auto 0 12px;
  border-top: 2px solid $color-grey;
  border-bottom: 2px solid $color-grey;

  h2 {
    text-align: left;
    font-family: Georgia, Arial, sans-serif;
    color: $color-darkmain;
  }
}
