.footer {
  margin: auto 0 12px;
  border-top: 2px solid $color-grey;
  border-bottom: 2px solid $color-grey;

  h2 {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Georgia, Arial, sans-serif;
    color: $color-darkmain;
  }

  .link {
    font-style: italic;
    display: flex;
    align-items: center;
    padding: 5px;
  }
}
