.iframe {
  margin-bottom: 24px;

  &__wrapper {
    position: relative;
  }

  iframe {
    width: 300px;
    min-width: 300px;
    height: 540px;
    border: none;
    position: absolute;
    top: 76px;
    left: 21px;

    @include vp-400 {
      width: 250px;
      min-width: 250px;
      height: 442px;
      top: 68px;
      left: 18px;
    }
  }

  img {
    width: 344px;
    min-width: 344px;
    height: auto;

    @include vp-400 {
      width: 285px;
      min-width: 285px;
    }
  }
}
