.list {
  ul {
    margin: 0;
    display: inline-flex;
    flex-direction: column;
  }

  li {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: $font-weight-regular;

    b {
      color: $color-default-black;
    }
  }

  &--big {
    li {
      font-size: 18px;
    }
  }
}
