.list {
  ul {
    margin: 0;
    display: inline-flex;
    flex-direction: column;
  }

  li {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: $font-weight-regular;

    b {
      color: $color-default-black;
    }

    i {
      font-style: normal;
      font-weight: $font-weight-bold;
      white-space: nowrap;
    }
  }

  span {
    display: flex;

    svg {
      opacity: 1;
      transition: $trans-default;
    }

    @include has-hover {
      svg {
        opacity: 0.5;
      }
    }
  }

  &--big {
    li {
      font-size: 18px;
    }
  }
}
